[submodule "sev-snp-measure"]
	path = sev-snp-measure
	url = https://github.com/IBM/sev-snp-measure.git
[submodule "sev-tool"]
	path = sev-tool
	url = https://github.com/AMDESE/sev-tool.git
[submodule "virtee/sev"]
	path = virtee/sev
	url = https://github.com/virtee/sev.git
[submodule "enarx/sevctl"]
	path = enarx/sevctl
	url = https://github.com/enarx/sevctl.git
[submodule "virtee/sevctl"]
	path = virtee/sevctl
	url = https://github.com/virtee/sevctl.git
[submodule "PSPReverse/amd-sev-migration-attack"]
	path = PSPReverse/amd-sev-migration-attack
	url = https://github.com/PSPReverse/amd-sev-migration-attack.git
[submodule "PSPReverse/Insecure-Until-Proven-Updated-Analyzing-AMD-SEV-s-Remote-Attestation"]
	path = PSPReverse/Insecure-Until-Proven-Updated-Analyzing-AMD-SEV-s-Remote-Attestation
	url = https://github.com/PSPReverse/Insecure-Until-Proven-Updated-Analyzing-AMD-SEV-s-Remote-Attestation.git
[submodule "salrashid123/gcp_cc_sev_demo"]
	path = salrashid123/gcp_cc_sev_demo
	url = https://github.com/salrashid123/gcp_cc_sev_demo.git
[submodule "enarx/sev-iocuddle"]
	path = enarx/sev-iocuddle
	url = https://github.com/enarx/sev-iocuddle.git
[submodule "TCrazylion/SMM-SEV-ResourceCounting"]
	path = TCrazylion/SMM-SEV-ResourceCounting
	url = https://github.com/TCrazylion/SMM-SEV-ResourceCounting.git
[submodule "Masheenist/AMDSEV"]
	path = Masheenist/AMDSEV
	url = https://github.com/Masheenist/AMDSEV.git
[submodule "UzL-ITS/sev-ciphertext-side-channels"]
	path = UzL-ITS/sev-ciphertext-side-channels
	url = https://github.com/UzL-ITS/sev-ciphertext-side-channels.git
[submodule "sandeepg-gupta/kata-containers-2.0.0-SEV"]
	path = sandeepg-gupta/kata-containers-2.0.0-SEV
	url = https://github.com/sandeepg-gupta/kata-containers-2.0.0-SEV.git
[submodule "frozencemetery/sev"]
	path = frozencemetery/sev
	url = https://github.com/frozencemetery/sev.git
[submodule "enarx/snp"]
	path = enarx/snp
	url = https://github.com/enarx/snp.git
[submodule "Fraunhofer-AISEC/severed-framework"]
	path = Fraunhofer-AISEC/severed-framework
	url = https://github.com/Fraunhofer-AISEC/severed-framework.git
[submodule "OSUSecLab/vSGX"]
	path = OSUSecLab/vSGX
	url = git@github.com:OSUSecLab/vSGX.git
[submodule "sev-snp-attestation"]
	path = dimstav23/sev-snp-attestation
	url = https://github.com/dimstav23/sev-snp-attestation.git
[submodule "Freax13/mushroom.git"]
	path = Freax13/mushroom.git
	url = git@github.com:Freax13/mushroom.git
[submodule "verismo"]
	path = microsoft/verismo
	url = git@github.com:microsoft/verismo.git
[submodule "Veil"]
	path = adilahmad17/Veil
	url = https://github.com/adilahmad17/Veil.git
[submodule "mushroom"]
	path = Freax13/mushroom
	url = git@github.com:Freax13/mushroom.git
[submodule "amd-sev-spec"]
	path = lkml-likexu/amd-sev-spec
	url = ./amd-sev-spec
[submodule "heckler"]
	path = ahoi-attacks/heckler
	url = git@github.com:ahoi-attacks/heckler.git
[submodule "WeSee"]
	path = ahoi-attacks/WeSee
	url = git@github.com:ahoi-attacks/WeSee.git
[submodule "linux-svsm"]
	path = AMDESE/linux-svsm
	url = git@github.com:AMDESE/linux-svsm.git
[submodule "svsm"]
	path = coconut-svsm/svsm
	url = git@github.com:coconut-svsm/svsm.git
[submodule "00seven"]
	path = sev-vmi/00seven
	url = git@github.com:sev-vmi/00seven.git
[submodule "snp-svsm-efi-secret"]
	path = stefano-garzarella/snp-svsm-efi-secret
	url = git@github.com:stefano-garzarella/snp-svsm-efi-secret.git
[submodule "spire-amd-sev-snp-node-attestor"]
	path = ufcg-lsd/spire-amd-sev-snp-node-attestor
	url = git@github.com:ufcg-lsd/spire-amd-sev-snp-node-attestor.git
[submodule "sev-step"]
	path = sev-step/sev-step
	url = git@github.com:sev-step/sev-step.git
[submodule "cachepc"]
	path = sinitax/cachepc
	url = git@github.com:sinitax/cachepc.git
[submodule "PWRLEAK"]
	path = OSUSecLab/PWRLEAK
	url = git@github.com:OSUSecLab/PWRLEAK.git
[submodule "CacheWarp"]
	path = cispa/CacheWarp
	url = git@github.com:cispa/CacheWarp.git
[submodule "severifast"]
	path = SEVeriFast/severifast
	url = git@github.com:SEVeriFast/severifast.git
[submodule "honeycomb-osdi23-ae"]
	path = Jiacheng/honeycomb-osdi23-ae
	url = git@github.com:Jiacheng/honeycomb-osdi23-ae.git
